<footer class="flex place-content-center">
  <div class="container text-center mt-8 p-10">
    <div class="flex flex-col items-center">
      <div class="flex items-center gap-1 mt-4 mb-4">
        <a
          class="px-1 rounded-3xl hover:scale-110 transition"
          href="https://new-portfolio-nine-liart.vercel.app/"
          target="_blank"
          rel="noreferrer"
          title="Go to Pablo Jimenez portfolio"
          ><span class="text-[0.8125rem]/6">Visit my portfolio</span></a
        >
      </div>
    </div>
    <div class="flex gap-2 place-content-center">
      <p class="flex items-baseline gap-x-1 text-[0.8125rem]/6 text-black">
        Follow me on
        <a
          class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition gap-x-0.5 hover:text-purple-500 hover:scale-110"
          href="https://www.instagram.com/jp.jsx/"
          ><svg
            class="w-6 h-6 text-purple-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
              clip-rule="evenodd"></path>
          </svg>

          <span class="self-baseline text-black">jp.jsx</span></a
        ><a
          class="group relative isolate flex items-center rounded-lg px-2 py-0.5 text-[0.8125rem]/6 font-medium text-black/30 transition hover:text-sky-300 gap-x-0.5 hover:scale-110"
          href="https://x.com/JuanPJL18"
          ><svg
            class="w-5 h-5 text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"
            ></path>
          </svg>
          <span class="self-baseline text-black">@JuanPJL18 </span></a
        >
      </p>
    </div>
  </div>
</footer>
